<style type="text/css">
    .ui-autocomplete{
        border: 1px solid #aaa;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background-color: #FFFFFF;
    }
    table{
        font-size: 13px;
    }
</style>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">订单管理</h3>
    </div>
    <div class="panel-body">
        <div class="form-horizontal" id="search">
            <div class="form-group">
                <div class="col-sm-2">
                    <select class="form-control" name="search_agent">
                        <option value="">选择代理商</option>
                        <{foreach key=key item=item from=$agent_level_list}>
                            <option value="<{$item.id}>"><{$item.name}></option>
                        <{/foreach}>
                    </select>
                </div>
                <div class="col-sm-2">
                    <select class="form-control" name="search_platform">
                        <option value="">选择商户</option>
                        <{foreach key=key item=item from=$platform_list}>
                            <option value="<{$item.id}>"><{$item.name}></option>
                        <{/foreach}>
                    </select>
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="search_equipment_id" id="search_equipment_id" placeholder="设备ID">
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="search_order_name" id="search_order_name" placeholder="订单编号">
                </div>
                <div class="col-sm-2">
                    <select class="form-control" name="search_order_status">
                        <option value="-1">订单状态</option>
                        <option value="0">未支付</option>
                        <option value="1">已支付</option>
                        <option value="2">下单成功支付处理中</option>
                        <option value="3">退款申请</option>
                        <option value="4">退款完成</option>
                        <option value="5">驳回申请</option>
                    </select>
                </div>

                <div class="col-sm-2">
                    <select class="form-control" name="search_refer">
                        <option value="">订单来源</option>
                        <{foreach key=key item=item from=$refer}>
                        <option value="<{$key}>"><{$item}></option>
                        <{/foreach}>
                    </select>
                </div>

                <input type="hidden" id="origin_url" value="/order/table">
            </div>
            <div class="form-group">
                <{if $is_svip eq '1'}>
                    <div class="col-sm-2">
                        <select class="form-control" name="search_agent_level"  id="search_agent_level">
                            <option value="">代理商等级</option>
                            <{foreach $agent_level_list as $val}>
                                <option value="<{$val['id']}>"><{$val['name']}></option>
                            <{/foreach}>
                        </select>
                    </div>
                <{/if}>
                <div class="col-sm-3"  >
                    <div class="input-group date  col-md-12" data-link-field="dtp_input1" id="time" >
                        <input class="form-control" type="text" name="search_start_time"  placeholder="开始时间"  readonly="readonly" value="<{$start_time}>">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                    </div>
                </div>
                <div class="col-sm-3" >
                    <div class="input-group date  col-md-12" data-link-field="dtp_input1" id="time2" >
                        <input class="form-control" type="text" name="search_end_time"  placeholder="结束时间"  readonly="readonly" value="<{$end_time}>">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                    </div>
                </div>
                <div class="col-sm-1" >
                    <a class="btn page-first" onclick="yesterday_order(-1)">《 前一天</a>
                </div>
                <div class="col-sm-1" >
                    <a class="btn page-last" onclick="yesterday_order(1)" style="color:#000">后一天 》</a>
                </div>
                <div class="col-sm-2" >
                    <button type="button" class="btn btn-default" id="search-btn">查找</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-info" id="explore-btn">导出</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2"  >
                    <div class="input-group date  col-md-12" data-link-field="dtp_input1" id="time3" >
                        <input class="form-control" type="text" name="search_pay_start_time"  placeholder="支付成功开始时间"  readonly="readonly" value="">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                    </div>
                </div>
                <div class="col-sm-2" >
                    <div class="input-group date  col-md-12" data-link-field="dtp_input1" id="time4" >
                        <input class="form-control" type="text" name="search_pay_end_time"  placeholder="支付成功结束时间"  readonly="readonly" value="">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-heading">
        <h3 class="panel-title" style="color: #666;font-size: 12px; font-weight: normal ">购买人数:<span class="user_total" style="color: red;">0</span>&nbsp;&nbsp;订单总数:<span class="order_total" style="color: red;">0</span>&nbsp;&nbsp;销售商品件数:<span class="qty" style="color: red;">0</span>&nbsp;&nbsp;订单实付金额:<span class="order_money" style="color: red;">0</span>元&nbsp;&nbsp;客单价:<span class="user_avg" style="color: red;">0</span>元/人&nbsp;&nbsp;笔单价:<span class="total_avg" style="color: red;">0</span>元/笔</h3>
    </div>
    <div class="panel-body">
        <div id="config-body">
            <table id="config-table" data-toggle="table" data-url="/order/table?uid=<{$uid}>&search_start_time=<{$start_time}>&search_end_time=<{$end_time}>" data-pagination="true" data-side-pagination="server"  data-page-size="50" >
                <thead>
                <tr>
                    <th data-field="order_name" data-align="left">订单编号</th>
                    <{if $is_svip eq '1'}>
                        <th data-field="uid" data-align="left">用户</th>
                    <{/if}>
                    <th data-field="name" data-align="left">设备ID</th>
                    <th data-field="product" data-align="left">订单商品</th>
                    <th data-field="money" data-align="left">在线支付</th>
                    <th data-field="yue" data-align="left">余额支付</th>
                    <th data-field="dis" data-align="left">优惠金额</th>
                    <th data-field="refer" data-align="left">订单来源</th>
                    <th data-field="order_status" data-align="left">订单状态</th>
                    <th data-field="order_time" data-align="left">下单时间</th>
                    <th data-field="detail" data-align="left">详情</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 90%">
        <div class="modal-content">

        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="modal fade" id="my_label" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 90%">
        <div class="modal-content">

        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="modal fade" id="download_label" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 50%">
        <div class="modal-content">

        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script type="text/javascript">
    //获取当前日期
    function get_now_day(){
        var date = new Date();
        var year = date.getFullYear();
        var month = date.getMonth()+1;
        month = month<10?'0'+month:month;
        var day = date.getDate();
        day = day<10?'0'+day:day;
        return year+'-'+month+'-'+day;
    }
    //获取前一天日期
    function GetDateStr(curr_day, AddDayCount) {
        if(curr_day == ''){
            curr_day = get_now_day();
        }
        var dd = new Date(curr_day);
        dd.setDate(dd.getDate()+AddDayCount);//获取AddDayCount天后的日期
        var year = dd.getFullYear();
        var month = dd.getMonth()+1;//获取当前月份的日期
        month = month<10?'0'+month:month;
        var day = dd.getDate();
        day = day<10?'0'+day:day;
        return year+"-"+month+"-"+day;
    }

    var curr_day = get_now_day();//当前搜索句柄的时间

    function show_model(order_name){
        $.get("/order/order_detail/"+order_name,{ },function(respData){
            if(respData.status=='success'){
                $(".modal-content").html(respData.html);
                $('#myModal').modal('show')
            }
        },'json');
    }

    function show_label(order_name){
        $.get("/order/order_label/"+order_name,{ },function(respData){
            if(respData.status=='success'){
                $(".modal-content").html(respData.html);
                $('#my_label').modal('show')
            }
        },'json');
    }

    function go_pay(order_name){
        if(confirm('是否确认手动为订单:'+order_name+'发起支付')){
            $.post("/order/pay_api/"+order_name,{ },function(respData){
                if(respData['code'] == 200){
                    alert(order_name+'发起成功,请稍后刷新');
                }else{
                    alert(order_name+'支付失败：'+respData['message']);
                }
                console.log(respData);
            },'json');
        }
    }

    function download_order(obj, serverUrl){
        var filterData = "";
        $.each($("[name^='search_']"), function() {
            field = $(this).attr('name');
            data = $(this).val();
            if(data!=-1 && data!=""){
                filterData += field+"="+data+"&";
            }
        });
        if(filterData==""){
            var url = serverUrl;
        }else{
            var url = serverUrl +'&'+filterData;
        }
        $(obj).css('color', '#aaa');
        location.href=url;
    }
    //查看昨天的订单
    function yesterday_order(day){
        if(curr_day >= get_now_day() && day>0){
            return false;
        }
        curr_day = GetDateStr(curr_day, day);
        if(curr_day >= get_now_day()){
            $('.page-last').css('color', '#000000');
        }else{
            $('.page-last').css('color', '#337ab7');
        }
        $('input[name="search_start_time"]').val(curr_day + ' 00:00:00');
        $('input[name="search_end_time"]').val(curr_day + ' 23:59:59');
        var serverUrl = $('#origin_url').val();
        var filterData = "";
        $.each($("[name^='search_']"), function() {
            field = $(this).attr('name');
            data = $(this).val();
            if(data!=-1 && data!=""){
                filterData += field+"="+data+"&";
            }
        });
        serverUrl += '?day='+curr_day;
        if(filterData==""){
            var url = serverUrl;
        }else{
            var url = serverUrl +'&'+filterData;
        }
        $('#config-table').bootstrapTable('refresh', {url: url}).on('load-success.bs.table', function (e,data) {
            $('.order_total').text(data.total);
            $('.order_money').text(data.money);
            $('.user_total').text(data.user);
            $('.qty').text(data.qty);
            $('.user_avg').text(data.user_avg);
            $('.total_avg').text(data.total_avg);
        });
    }
    $(function(){
        $('#config-table').bootstrapTable({
        }).on('click-row.bs.table', function (e, row, $element) {
            $("#curr_id").val(row.id);
        }).on('load-success.bs.table', function (e,data) {
            $('.order_total').text(data.total);
            $('.order_money').text(data.money);
            $('.user_total').text(data.user);
            $('.qty').text(data.qty);
            $('.user_avg').text(data.user_avg);
            $('.total_avg').text(data.total_avg);

        });
        $("#config-body").delegate(".show_img","click",function(){
            MessageBox.alert($(this).attr('data-content'));
        });
        $('#time').datetimepicker({
            language: 'zh', //汉化
            autoclose: 1,
            format: 'yyyy-mm-dd hh:00:00',
            minView: 'day',
            minuteStep:1
        });
        $('#time2').datetimepicker({
            language: 'zh', //汉化
            autoclose: 1,
            format: 'yyyy-mm-dd hh:00:00',
            minView: 'day',
            minuteStep:1
        });
        $('#time3, #time4').datetimepicker({
            language: 'zh', //汉化
            autoclose: 1,
            format: 'yyyy-mm-dd hh:00:00',
            minView: 'day',
            minuteStep:1
        });
        $("#search-btn").on('click', function(){
            var serverUrl = $('#origin_url').val();
            var filterData = "js=is_bug&";
            $.each($("[name^='search_']"), function() {
                field = $(this).attr('name');
                data = $(this).val();
                if(data!=-1 && data!=""){
                    filterData += field+"="+data+"&";
                }
            });
            console.log(filterData);
            if(filterData==""){
                var url = serverUrl;
            }else{
                var url = serverUrl +'?'+filterData;
            }
            $('#config-table').bootstrapTable('refresh', {url: url}).on('load-success.bs.table', function (e,data) {
                $('.order_total').text(data.total);
                $('.order_money').text(data.money);
                $('.user_total').text(data.user);
                $('.qty').text(data.qty);
                $('.user_avg').text(data.user_avg);
                $('.total_avg').text(data.total_avg);
            });
        });

        $("#explore-btn").on('click', function(){

            $.get("/order/download_html/"+$('.order_total').text(),{ },function(respData){
                if(respData.status=='success'){
                    $("#download_label").find('.modal-content').html(respData.html);
                    $('#download_label').modal('show')
                }
            },'json');
            return false;
        });

        $('#search_product_name').autocomplete({
            source:function(query,process){
                var matchCount = this.options.items;//返回结果集最大数量
                $.get("/order/get_product",{"matchInfo":query['term'],"matchCount":matchCount},function(respData){
                    respData = $.parseJSON(respData);//解析返回的数据

                    return process(respData);
                });
            }
        });

        $('input[name="search_start_time"]').change(function(){
            curr_day = $(this).val().substr(0,10);
            if(curr_day >= get_now_day()){
                $('.page-last').css('color', '#000000');
            }else{
                $('.page-last').css('color', '#337ab7');
            }
        });

    });
</script>