<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">订单详情</h4>
</div>
<div class="modal-body">
    <table class="table table-striped">
        <thead>
        <tr>
            <th data-align="center">订单编号</th>
            <th data-align="center">交易单号</th>
            <th data-align="center">设备id</th>
            <th data-align="center">下单时间</th>
            <th data-align="center">商品数量</th>
            <th data-align="center">在线支付</th>
            <th data-align="center">余额支付</th>
            <th data-align="center">优惠</th>

        </tr>
        <tr>
            <td data-align="center"><{$detail['order_name']}></td>
            <td data-align="center"><{$order_pay['pay_no']}>(<{$order_pay['pay_comment']}>)</td>
            <td data-align="center"><{$detail['box_no']}></td>
            <td data-align="center"><{$detail['order_time']}></td>
            <td data-align="center"><{$detail['qty']}></td>
            <td data-align="center"><{$detail['money']}></td>
            <td data-align="center"><{$detail['yue']}></td>
            <td data-align="center"><{$detail['discounted_money']}></td>
        </tr>
        </thead>
    </table>

    <table class="table table-striped">
        <thead>
        <tr>
            <th data-align="center">商品id</th>
            <th data-align="center">商品名称</th>
            <th data-align="center">商品数量</th>
            <th data-align="center">单价</th>
            <th data-align="center">总价</th>
            <th data-align="center">活动</th>
            <th data-align="center">优惠券</th>
            <th data-align="center">魔豆</th>
            <th data-align="center">余额支付</th>
            <th data-align="center">在线支付</th>
        </tr>
        <{foreach key=key item=item from=$order_product_list}>
        <tr>
            <td data-align="center"><{$item['product_id']}></td>
            <td data-align="center"><{$item['product_name']}></td>
            <td data-align="center"><{$item['qty']}></td>
            <td data-align="center"><{$item['price']}></td>
            <td data-align="center"><{$item['total_money']}></td>
            <td data-align="center">-<{$item['dis_money']}></td>
            <td data-align="center">-<{$item['card_money']}></td>
            <td data-align="center">-<{$item['modou_money']}></td>
            <td data-align="center">-<{$item['yue_money']}></td>
            <td data-align="center"><{$item['really_money']}></td>
        </tr>
        <{/foreach}>
        </thead>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
    <button type="button" class="btn btn-primary" id="set_group_id">提交更改</button>
</div>