<{if $tips eq ''}>
<{elseif $tips eq '保存成功'}>
<div class="alert alert-success" role="alert"><{$tips}></div>
<{else}>
<div class="alert alert-danger" role="alert"><{$tips}></div>
<{/if}>
<div class="panel panel-default">
    <div class="panel-heading">编辑商户</div>
    <div class="panel-body">
        <form id="add-user-form" class="form-horizontal" role="form" method="post" action="/commercial/commercialUpdate/<{$info.id}>">
            基本信息：
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">商户名称：</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="name" name="name" datatype="*" nullmsg="请输入商户名称！"  placeholder="请输入商户名称" value="<{$info.name}>">
                </div>
                <div class="Validform_checktip"></div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">商户简称：</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="short_name" name="short_name" placeholder="请输入商户简称" value="<{$info.short_name}>">
                </div>
            </div>
            <div class="form-group">
                <label for="contacts" class="col-sm-2 control-label">联系人：</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="contacts" name="contacts" datatype="*" nullmsg="请输入联系人！" placeholder="请输入联系人"  value="<{$info.contacts}>">
                </div>
                <div class="Validform_checktip"></div>
            </div>
            <div class="form-group">
                <label for="phone" class="col-sm-2 control-label">联系电话：</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="phone" name="phone" datatype="*" nullmsg="请输入联系电话！" placeholder="请输入联系电话" value="<{$info.phone}>">
                </div>
                <div class="Validform_checktip"></div>
            </div>
            <div class="form-group">
                <label for="address" class="col-sm-2 control-label">联系地址：</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="address" name="address"  placeholder="请输入联系地址" value="<{$info.address}>">
                </div>
            </div>
            <div class="form-group">
                <label for="admin_name" class="col-sm-2 control-label">平台主账号名：</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="admin_name" name="admin_name"  placeholder="请输入联系地址" value="<{$info.admin_name}>" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">客服电话：</label>
                <div class="col-sm-3">
                    <input type="text" value="<{$info['kf_tel']}>" class="form-control" id="kf_tel" name="kf_tel"  datatype="*" nullmsg="请输入客服电话！"  placeholder="客服电话">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">消息title：</label>
                <div class="col-sm-3">
                    <input type="text" value="<{$info['msg_title']}>" class="form-control" id="msg_title" name="msg_title"  datatype="*" nullmsg="请输入消息title！"  placeholder="消息title">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">默认banner图：</label>
                <div class="col-sm-5">
                    <input type="file" name="img_banner_file" id="img_banner_file" class="pull-left" data-attr="活动banner图不能为空" onchange="ajaxFileUpload(this.id);">
                    <input type="hidden" name="img_banner" value="<{$info['img_banner']}>">
                    <a class="show_img <{if $info['img_banner'] eq ''}>hide<{/if}>" href="javascript:void(0)" data-content="<img src='<{$img_http}><{$info['img_banner']}>' width='200px'>" data-original-title="" title="">查看</a>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">二维码logo：</label>
                <div class="col-sm-5">
                    <input type="file" name="qr_logo_file" id="qr_logo_file" class="pull-left" data-attr="二维码logo不能为空" onchange="ajaxFileUpload(this.id);">
                    <input type="hidden" name="qr_logo" value="<{$info['qr_logo']}>">
                    <a class="show_img <{if $info['qr_logo'] eq ''}>hide<{/if}>" href="javascript:void(0)" data-content="<img src='<{$img_http}><{$info['qr_logo']}>' width='200px'>" data-original-title="" title="">查看</a>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">自定义icon：</label>
                <div class="col-sm-3">
                    <input type="text" value="<{$iconinfo['icon1_name']}>" class="form-control" id="msg_title" name="icon_name_1"  nullmsg="请输入icon名称！最多4个字符"  placeholder="请输入icon名称！最多4个字符">
                </div>
                <div class="col-sm-5" style="width: 200px;">
                    <input type="file" name="icon_img_1" id="icon1_logo_file" class="pull-left"  onchange="ajaxFileUpload(this.id);">
                    <input type="hidden" name="icon1_path" value="<{$iconinfo['icon1_path']}>">
                    <a class="show_img <{if $iconinfo['icon1_path'] eq ''}>hide<{/if}>" href="javascript:void(0)" data-content="<img src='<{$img_http}><{$iconinfo['icon1_path']}>' width='200px'>" data-original-title="" title="">查看</a>
                </div>
                <div class="col-sm-3" >
                    <input type="text" value="<{$iconinfo['icon1_url']}>" class="form-control" id="msg_title" name="icon_url_1"  nullmsg="请输入icon跳转链接"  placeholder="请输入icon跳转链接">
                </div><span style="font-size: 25px;color: red;cursor: pointer;" class="delete_icon" value="1">×</span>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-3">
                    <input type="text" value="<{$iconinfo['icon2_name']}>" class="form-control" id="msg_title" name="icon_name_2"   nullmsg="请输入icon名称！最多4个字符"  placeholder="请输入icon名称！最多4个字符">
                </div>
                <div class="col-sm-5" style="width: 200px;">
                    <input type="file" name="icon_img_2" id="icon2_logo_file" class="pull-left"  onchange="ajaxFileUpload(this.id);">
                    <input type="hidden" name="icon2_path" value="<{$iconinfo['icon2_path']}>">
                    <a class="show_img <{if $iconinfo['icon2_path'] eq ''}>hide<{/if}>" href="javascript:void(0)" data-content="<img src='<{$img_http}><{$iconinfo['icon2_path']}>' width='200px'>" data-original-title="" title="">查看</a>
                </div>
                <div class="col-sm-3" >
                    <input type="text" value="<{$iconinfo['icon2_url']}>" class="form-control" id="msg_title" name="icon_url_2"   nullmsg="请输入icon跳转链接"  placeholder="请输入icon跳转链接">
                </div><span style="font-size: 25px;color: red;cursor: pointer;" class="delete_icon" value="2">×</span>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">公众号名称：</label>
                <div class="col-sm-3">
                    <input type="text" value="<{$info['wechat_name']}>" class="form-control" id="wechat_name" name="wechat_name"   placeholder="公众号名称">
                </div>
                <label class="col-sm-2 control-label">生活号名称：</label>
                <div class="col-sm-3">
                    <input type="text" value="<{$info['alipay_name']}>" class="form-control" id="alipay_name" name="alipay_name"   placeholder="生活号名称">
                </div>
            </div>
            商户服务:
            <div class="form-group">
                <div for="need_deliver" class="form-group">
                    <label class="col-sm-2 control-label">是否自配送：</label>
                    <div class="col-sm-3">
                        <select class="form-control" name="need_deliver" id="need_deliver" datatype="*" nullmsg="请至少选择一个！">
                            <option value="1" <{if $info.need_deliver eq 1}>selected<{/if}>>是</option>
                            <option value="2" <{if $info.need_deliver eq 2}>selected<{/if}>>否</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div for="need_product" class="form-group">
                    <label class="col-sm-2 control-label">是否供应商品：</label>
                    <div class="col-sm-3">
                        <select class="form-control" name="need_product" id="need_product" datatype="*" nullmsg="请至少选择一个！">
                            <option value="1" <{if $info.need_product eq 1}>selected<{/if}>>是</option>
                            <option value="2" <{if $info.need_product eq 2}>selected<{/if}>>否</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">通用二维码前缀：</label>
                <div class="col-sm-3">
                    <select class="form-control" name="common_pr" id="common_pr" datatype="*" nullmsg="请输入通用二维码前缀！">
                        <option value="">请选择</option>
                        <{foreach $qr_common_url as $url}>
                        <option value="<{$url.value}>" <{if $config_info.common_pr == $url.value}>selected<{/if}>><{$url.name}></option>
                        <{/foreach}>
                    </select>
                </div>
                <!--<span style="color: red">URL中必须有DEVICEID字符，用于替换设备id，正常情况请勿修改！</span>-->
            </div>
            <div class="form-group">
                <label  class="col-sm-2 control-label">允许开门来源：
                    <br><br><br><br>
                    <input type="checkbox" value="" id="box_check_all"> 全选

                </label>
                <div class="col-sm-10">
                    <div class="store-box" style="min-height:250px;overflow-y:auto;max-height:100px;border-radius:5px;border:1px solid #aaa;padding:10px;">
                        <{foreach key=key item=item from=$open_refer}>
                        <label style="margin-right:10px;font-weight: normal">
                            <input type="checkbox" name="refer[]" <{if $open_refer_check[$key] }>checked<{/if}>  value="<{$key}>"> <{$item}>
                        </label>
                        <{/foreach}>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">如果非允许来源扫码，提示语：</label>
                <div class="col-sm-4">
                    <input type="text" value="<{$config_info.error_msg}>" class="form-control" id="error_msg" name="error_msg"  placeholder="提示语">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">如果非允许来源扫码，重定向URL：</label>
                <div class="col-sm-4">
                    <select class="form-control" style="width: 300px" name="error_url" id="error_url">
                        <option value="">请选择</option>
                        <{foreach $qr_common_url as $url}>
                        <option value="<{$url.error}>" <{if $config_info.error_url == $url.error}>selected<{/if}>><{$url.name}></option>
                        <{/foreach}>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div for="need_product" class="form-group">
                    <label class="col-sm-2 control-label">是否能使用魔盒余额支付：</label>
                    <div class="col-sm-2">
                        <select class="form-control" name="use_yue" id="use_yue" datatype="*" nullmsg="请至少选择一个！">
                            <option value="1" <{if $config_info.use_yue == "1" }>selected<{/if}>>是</option>
                            <option value="0" <{if $config_info.use_yue == "0" }>selected<{/if}>>否</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div for="need_product" class="form-group">
                    <label class="col-sm-2 control-label">所属集团：</label>
                    <div class="col-sm-2">
                        <select class="form-control" name="group_code" id="group_code" datatype="*" nullmsg="请至少选择一个！">
                            <{foreach key=key1 item=item1 from=$groups}>
                            <option value="<{$item1.code}>" <{if $item1.code eq $config_info.group_code}>selected<{/if}>> <{$item1.name}> </option>
                            <{/foreach}>
                        </select>
                    </div>
                </div>
            </div>
            <{foreach key=key item=item from=$configs}>
            <div class="form-group">
                <div for="need_product" class="form-group">
                    <label class="col-sm-2 control-label">选择<{$key}>配置：</label>
                    <div class="col-sm-2">
                        <select class="form-control" name="config['<{$key}>']"  style="">
                            <{foreach key=key1 item=item1 from=$configs[$key]}>
                            <option value="<{$item1.id}> " <{if $item1.checked}>selected<{/if}>> <{$item1.name}> </option>
                            <{/foreach}>
                        </select>
                    </div>
                    <label class="col-sm-2 control-label"><{$key}>费率：</label>
                    <div class="col-sm-3">
                        <input type="text" value="<{$item.rate}>" class="form-control" id="<{$key}>_rate" name="<{$key}>_rate"  nullmsg="请输入<{$key}>费率"  placeholder="请输入<{$key}>费率">
                    </div>
                </div>
            </div>
            <{/foreach}>
            分账系统:	
            <div class="form-group">
                <div for="need_product" class="form-group">
                    <label class="col-sm-2 control-label">是否需要分账：</label>
                    <div class="col-sm-2">
                        <select class="form-control" name="is_separate" id="is_separate" datatype="*" nullmsg="请至少选择一个！">
                            <option value="1" <{if $info.is_separate == "1" }>selected<{/if}>>是</option>
                            <option value="0" <{if $info.is_separate == "0" }>selected<{/if}>>否</option>
                        </select>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label  class="col-sm-2 control-label">需要分账的支付方式：
                    <br><br><br><br>
                    <input type="checkbox" value="" id="pay_check_all"> 全选

                </label>
                <div class="col-sm-10">
                    <div class="refer-box" style="min-height:250px;overflow-y:auto;max-height:100px;border-radius:5px;border:1px solid #aaa;padding:10px;">
                        <{foreach key=key item=item from=$open_refer}>
                        <label style="display:block;margin-right:10px;font-weight: normal">
                            <input type="checkbox" name="separate_refer[]" <{if $separate_refer_check[$key] }>checked<{/if}>  value="<{$key}>"> <{$item}>
                            <input type="text" style="display:inline;width:100px;" class="form-control" name="separate_refer_percent[]" placeholder="" value="<{if $separate_refer_percent[$key] }><{$separate_refer_percent[$key]}><{else}>100<{/if}>" />%
                        	<span style="display:inline;color:red;">分账比例（0-100，最多允许两位小数）</span>
                        </label>
                        <{/foreach}>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-2 control-label">收款方支付宝帐号：</label>
                <div class="col-sm-4">
                    <input type="text" value="<{$info.alipay_account}>" class="form-control" id="alipay_account" name="alipay_account"  placeholder="收款方支付宝帐号">
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-2 control-label">收款方真实姓名：</label>
                <div class="col-sm-4">
                    <input type="text" value="<{$info.alipay_realname}>" class="form-control" id="alipay_realname" name="alipay_realname"  placeholder="收款方真实姓名">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">账号状态</label>
                <div class="col-sm-4">
                    <label for="hah">
                            <input type="radio"  id="hah" value="1" name="status" <{if $info.status == 1}>checked<{/if}>>启用
                    </label>
                    <label for="hah1">
                            <input type="radio"  id="hah1" value="0" name="status" <{if $info.status == 0}>checked<{/if}>>冻结
                    </label>
                    
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="hidden" name="id" value="<{$info.id}>" class="platform_id">
                    <input type="hidden" name="config_id" value="<{$config_id}>">
                    <input type="hidden" name="submit" value="1">
                    <button type="submit" id="submit_form" class="btn btn-default">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="application/javascript" src="/assets/js/ajaxfileupload.js"></script>

<script type="text/javascript">
    $("#add-user-form").Validform(
        {
        	tiptype:2,
        	beforeSubmit:function(curform){
				//在验证成功后，表单提交前执行的函数，curform参数是当前表单对象。
				//这里明确return false的话表单将不会提交;
				var is_error = 0;
				$('input[name="separate_refer[]"]').each(function(i,val){
		    		var text_val = $(this).next('input[type="text"]').val();
		    		if (!$.isNumeric(text_val)){
		    			alert('请输入正确的数字格式！');
		    			$(this).next('input[type="text"]').focus();
		    			is_error = 1;
		    		}
		    		if (!text_val){
			    		alert('请填写每个支付渠道的分账比例！不可为空！');
		    			$(this).next('input[type="text"]').focus();
		    			is_error = 1;
		    		}
		    		if (parseFloat(text_val) <= 0 || parseFloat(text_val) > 100){
		    			alert('分账比例需大于0且小于等于100！');
		    			$(this).next('input[type="text"]').focus();
		    			is_error = 1;
		    		}
		    	});
		    	if (is_error == 1){
		    		return false;
		    	}
			},
        }
    );
    $('#pay_check_all').click(function(){
        var flag = $(this).prop('checked');
        $('.refer-box').find('input[type="checkbox"]').prop('checked', flag)
    });
    
    $('#box_check_all').click(function(){
        var flag = $(this).prop('checked');
        $('.store-box').find('input[type="checkbox"]').prop('checked', flag)
    });
    $('.store-box label').click(function(){
		var this_checkbox = $(this).find('input[type="checkbox"]');
    	if ($(this).find('input[type="checkbox"]').prop('checked') == true){
    		$('input[name="separate_refer[]"]').each(function(v){
    			if ($(this).val() == this_checkbox.val()){
    				$(this).prop('checked',true);
    			}
    		});
    	} else {
    		$('input[name="separate_refer[]"]').each(function(v){
    			if ($(this).val() == this_checkbox.val()){
    				$(this).prop('checked',false);
    			}
    		});
    	}
    })
    //删除icon
    $(".delete_icon").click(function(){
        if(confirm('确认删除此icon，不可撤回！')) {
            var icon_id = $(this).attr('value');
            var platform_id = $(".platform_id").attr('value');
            $.ajax({
                type: "post",
                url: "/commercial/delete_icon",
                data: {
                    icon_id: icon_id,platform_id:platform_id
                },
                dataType: 'json',
                success: function (data) {
                   if(data.status == 'success'){
                       alert(data.msg);
                       window.location.reload();
                   }else{
                       alert(data.msg);
                   }
                },
                error: function () {

                },
                complete: function () {

                }

            });
        }
    })

    $(".show_img").popover({
        placement: 'right',
        trigger: 'hover',
        html: true
    });

    function ajaxFileUpload(elementId) {
        $.ajaxFileUpload({
            url: '/image/ajax_upload_img', //用于文件上传的服务器端请求地址
            secureuri: false, //是否需要安全协议，一般设置为false
            fileElementId: elementId, //文件上传域的ID
            dataType: 'json', //返回值类型 一般设置为json
            success: function (data, status)  //服务器成功响应处理函数
            {
                if(data.status=='error'){
                    alert(data.msg);
                    return false;
                }
                if (typeof (data.status) != 'undefined') {
                    $("#"+elementId).next().val(data.url);
                    var html = "<img src='"+data.img_http+data.url+"' width='200px'>";
                    $("#"+elementId).next().next().removeClass('hide').attr('data-content', html);
                }
            },
            error: function (data, status, e)//服务器响应失败处理函数
            {
                console.log(e);
                alert(e);
            }
        });
        return false;
    }
</script>