<style>
    .hide-th{
        display:none;
    }
</style>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">对账管理</h3>
    </div>
    <div class="panel-body">
        <div class="form-horizontal" id="search">
            <div class="form-group">
                <div class="col-sm-2">
                    <select class="form-control" name="search_type" id="checkout_type">
                        <option value="1">出账</option>
                        <option value="0">入账</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <select class="form-control" name="search_agent">
                        <option value="">选择代理商</option>
                        <{foreach key=key item=item from=$agent_level_list}>
                            <option value="<{$item.id}>"><{$item.name}></option>
                        <{/foreach}>
                    </select>
                </div>
                <div class="col-sm-2">
                    <select class="form-control" name="search_platform">
                        <option value="">选择商户</option>
                        <{foreach key=key item=item from=$platform_list}>
                            <option value="<{$item.id}>"><{$item.name}></option>
                        <{/foreach}>
                    </select>
                </div>
                <div class="col-sm-2" >
                    <button type="button" class="btn btn-default" id="search-btn">查找</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-info" id="explore-btn">导出</button>
                </div>
                <input type="hidden" id="origin_url" value="/reconciliation/table">
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div id="config-body">
            <table id="config-table" data-toggle="table" data-url="/reconciliation/table" data-pagination="true" data-side-pagination="server"  data-page-size="50" >
                <thead>
                <tr>
                    <th data-field="agent_commer_name" data-align="left">代理商/商户</th>
                    <th data-field="start_end" data-align="left">结算日期</th>
                    <th data-field="acount_id" data-align="left">收款账号</th>
                    <th data-field="acount_name" data-align="left">收款账户名</th>
                    <th data-field="money" data-align="left">销售额</th>
                    <th data-field="refund_money" data-align="left">退款金额</th>
                    <th data-field="dis_money" data-align="left">优惠金额</th>
                    <th data-field="realy_money" data-align="left">实际营收</th>
                    <th data-field="separate_rate" data-align="left">分成比例</th>
                    <th data-field="wechat_rate" data-align="left">代扣费率</th>
                    <th data-field="out_money" data-align="left">出账金额</th>
                    <th data-field="in_money" data-align="left">入账金额</th>
                    <th data-field="detail" data-align="left">详情</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">

    function ckRadio(){
        var curr_id = $("input[type=radio]:checked").parent().next().html();
        if(typeof(curr_id) == "undefined"){
            $("#curr_id").val(0);
        }else{
            $("#curr_id").val(curr_id);
        }
    }

    $(function(){
        $('.datetime_input').each(function(){
            $(this).datetimepicker({
                language: 'zh', //汉化
                autoclose: 1,
                format: 'yyyy-mm-dd hh:ii:00',
                timepicker:false    //关闭时间选项
            });
        });

        $('#config-table').bootstrapTable({
        }).on('check.bs.table', function (e, row, $element) {
            $("#curr_id").val(row.id);
            $("#device_id").val(row.equipment_id);
        });
        $("#config-body").delegate(".show_img","click",function(){
            MessageBox.alert($(this).attr('data-content'));
        });

        $("#search-btn").on('click', function(){
            var serverUrl = $('#origin_url').val();
            var filterData = "";
            $.each($("[name^='search_']"), function() {
                field = $(this).attr('name');
                data = $(this).val();
                if(data!=-1 && data!=""){
                    filterData += field+"="+data+"&";
                }
            });
            if(filterData==""){
                var url = serverUrl;
            }else{
                var url = serverUrl +'?'+filterData;
            }
            $('#config-table').bootstrapTable('refresh', {url: url});
        });




    });
</script>