<{if $tips eq ''}>
<{elseif $tips eq '新增成功'}>
<div class="alert alert-success" role="alert"><{$tips}></div>
<{else}>
<div class="alert alert-danger" role="alert"><{$tips}></div>
<{/if}>
<div class="panel panel-default">
	<div class="panel-heading">
		添加分组
		<a href='/admin/getgrouplist' role="button" class="btn btn-info btn-sm">返回上一级</a>
	</div>
	<div class="panel-body">
		<form id="add-group-form" class="form-horizontal" role="form" method="post" action="/admin/addgroup">
		   <div class="form-group">
			  <label for="name" class="col-sm-2 control-label">分组名:</label>
			  <div class="col-sm-2">
				 <input type="text" class="form-control" id="name" name="name" datatype="*" nullmsg="请输入分组名！" placeholder="分组名">
			  </div>
			  <div class="Validform_checktip"></div>
		   </div>
		   <div class="form-group">
			  <div class="col-sm-offset-2 col-sm-10">
				 <input type="hidden" name="submit" value="1">
				 <button type="submit" class="btn btn-default">确定</button>
			  </div>
		   </div>
		</form>
	</div>
</div>

<script type="text/javascript"> 
	$("#add-group-form").Validform(
		{tiptype:2}
	);
</script>