<{if $tips eq ''}>
<{elseif $tips eq '新增成功'}>
<div class="alert alert-success" role="alert"><{$tips}></div>
<{else}>
<div class="alert alert-danger" role="alert"><{$tips}></div>
<{/if}>
<div class="panel panel-default">
	<div class="panel-heading">新增账号</div>
	<div class="panel-body">
		<form id="add-user-form" class="form-horizontal" role="form" method="post" action="/admin/adduser">
		   <div class="form-group">
			  <label for="name" class="col-sm-2 control-label">用户：</label>
			  <div class="col-sm-3">
				 <input type="text" class="form-control" id="name" name="name" datatype="*" nullmsg="请输入用户名！"  placeholder="请输入用户名">
			  </div>
			  <div class="Validform_checktip"></div>
		   </div>
		   <div class="form-group">
			  <label for="alias" class="col-sm-2 control-label">姓名：</label>
			  <div class="col-sm-3">
				<input type="text" class="form-control" id="alias" name="alias" datatype="*" nullmsg="请输入姓名！" placeholder="请输入姓名">
			  </div>
			  <div class="Validform_checktip"></div>
		   </div>
		   <div class="form-group">
			  <label for="mobile" class="col-sm-2 control-label">手机：</label>
			  <div class="col-sm-3">
				<input type="text" class="form-control" id="mobile" name="mobile" datatype="*" nullmsg="请输入手机号！" placeholder="请输入手机">
			  </div>
			  <div class="Validform_checktip"></div>
		   </div>
		   <div class="form-group">
			  <label for="id_card" class="col-sm-2 control-label">身份证：</label>
			  <div class="col-sm-3">
				<input type="text" class="form-control" id="id_card" name="id_card"  placeholder="请输入身份证">
			  </div>
		   </div>
		   <div class="form-group">
			  <label for="email" class="col-sm-2 control-label">邮箱：</label>
			  <div class="col-sm-3">
				<input type="text" class="form-control" id="email" name="email"  placeholder="请输入邮箱">
			  </div>
		   </div>
			<div class="form-group">
				<label for="email" class="col-sm-2 control-label">所属代理商：</label>
				<div class="col-sm-3">
					<select class="form-control" name="agent_platform" id="agent_platform" multiple='true' size='10' datatype="*" nullmsg="请至少选择一个！">
						<!-- <option value>请选择分组</option> -->
						<{foreach $agentList as $val}>
							<option value="<{$val['id']}>"><{$val['name']}></option>
						<{/foreach}>
					</select>
				</div>
			</div>
		   <div class="form-group">
			  <label for="group" class="col-sm-2 control-label">职能：</label>
			  <div class="col-sm-3">
				 <!-- <select class="form-control" name="group[]" id="group" datatype="*" nullmsg="请选择职能！"> -->
				 <select class="form-control" name="group[]" id="group" multiple='true' size='10' datatype="*" nullmsg="请至少选择一个！">
				 	<!-- <option value>请选择分组</option> -->
					<{foreach $groupList as $val}>
					<option value="<{$val['id']}>"><{$val['name']}></option>
					<{/foreach}>
				  </select>
			  </div>
			  <div class="Validform_checktip"></div>
		   </div>
		   
		   <!--<div class="form-group">-->
                <!--<label  class="col-sm-2 control-label"></label>-->
                <!--<div class="col-sm-10">-->
                    <!--<{foreach key=key item=item from=$store_list}>-->
                    <!--<label style="margin-right:10px;font-weight: normal">-->
                        <!--<input onclick="get_box_list(this)" type="checkbox" name="store_id[]" data-store-type="<{$item['code']}>" value="<{$item['code']}>"> <{$item['name']}>-->
                    <!--</label>-->
                    <!--<{/foreach}>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="form-group">-->
                <!--<label  class="col-sm-2 control-label">管理设备ID：</label>-->
                <!--<div class="col-sm-10">-->
                    <!--<div class="store-box" style="min-height:150px;overflow-y:auto;max-height:200px;border-radius:5px;border:1px solid #aaa;padding:10px;">-->
                        <!--<{foreach key=key item=item from=$equipment_list}>-->
                        <!--<label style="margin-right:10px;font-weight: normal">-->
                            <!--<input type="checkbox" <{if $item['checked'] eq 1}>checked="true"<{/if}> name="box_no[]" data-store-type="<{$item['replenish_location']}>" value="<{$item['equipment_id']}>"> <{$item['name']}>[<{$item['equipment_id']}>]-->
                        <!--</label>-->
                        <!--<{/foreach}>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

		    <div class="form-group">
			  <label for="pwd" class="col-sm-2 control-label">新密码：</label>
			  <div class="col-sm-3">
				 <input type="password" class="form-control" id="pwd" name="pwd" datatype="*" nullmsg="请输入密码！" placeholder="请输入密码">
			  </div>
			  <div class="Validform_checktip"></div>
		   </div>
		   <div class="form-group">
			  <label for="pwdconfirm" class="col-sm-2 control-label">确认：</label>
			  <div class="col-sm-3">
				 <input type="password" class="form-control" id="pwdconfirm" name="pwdconfirm" datatype="*" recheck="pwd" errormsg="您两次输入的新密码不一致！" placeholder="请确认密码">
			  </div>
			  <div class="Validform_checktip"></div>
		   </div>
		   <div class="form-group">
			  <div class="col-sm-offset-2 col-sm-10">
				 <input type="hidden" name="submit" value="1">
				 <button type="submit" class="btn btn-default">确定</button>
			  </div>
		   </div>
		</form>
	</div>
</div>

<script type="text/javascript">
	$("#add-user-form").Validform(
		{tiptype:2}
	);
	
	function get_box_list(obj){
        var code = $(obj).attr('data-store-type');
        var flag = $(obj).prop('checked');
        $('.store-box').find('input[data-store-type="'+code+'"]').prop('checked', flag)
    }
</script>