<{if $tips eq ''}>
<{else}>
<div class="alert alert-danger" role="alert"><{$tips}></div>
<{/if}>
<div class="panel panel-default">
	<div class="panel-heading">新增设备</div>
	<table class="table">
		<form action="/equipment/add_save" id="myform" name="myform" method="post" >
		  <tr class="tr">
		    <td width="22%" align="right" > 盒子方设备ID：</td>
		    <td width="75%" ><input name="equipment_id" type="text" id="equipment_id" size="30" value="" placeholder="盒子ID，如68805328909" /></td>
		  </tr>
		  
		  <tr class="tr">
		    <td width="22%" align="right" > 盒子编码：</td>
		    <td width="75%" ><input name="code" type="text" id="code" size="30" value="" placeholder="盒子编码，如A000001" /></td>
		  </tr>
		  
		  <tr class="tr">
		    <td width="22%" align="right" > 盒子类型：</td>
		    <td width="75%" >
		    	<select class="form-control" name="type" id="type"  style="width:200px;">
					<{foreach $eq_type as $val}>
					<option value="<{$val.code}>"><{$val.name}></option>
					<{/foreach}>
				 </select>
		    </td>
		  </tr>

		  <tr class="tr">
		    <td width="22%" align="right" > 分配代理商/商户：</td>
		    <td width="75%" >
		    	<select class="form-control" name="platform_tag" id="platform_tag"  style="width:150px;">
					<{if $is_hidden eq '1'}>
						<option value="0" style="width:150px;">不分配</option>
					<{else}>
					<{/if}>
					<{foreach $platform_list as $val}>
                    <option value="<{$val.id}>|<{$val.tag}>" style="width:150px;">
						<{$val.name}>
					</option>
                    <{/foreach}>
				 </select>
		    </td>
		  </tr>
			<tr class="tr">
				<td width="22%" align="right" >硬件维保期限：</td>
				<td width="75%" >
					<select class="form-control" name="harfware_time" id="harfware_time"  style="width:150px;">
						<option value="1" style="width:150px;">一年</option>
						<option value="2" style="width:150px;">两年</option>
						<option value="3" style="width:150px;">三年</option>
						<option value="0" style="width:150px;">永久</option>
					</select>
				</td>
			</tr>
			<tr class="tr">
				<td width="22%" align="right" > 软件服务周期：</td>
				<td width="75%" >
					<select class="form-control" name="software_time" id="software_time"  style="width:150px;">
						<option value="1" style="width:150px;">一年</option>
						<option value="2" style="width:150px;">两年</option>
						<option value="3" style="width:150px;">三年</option>
						<option value="0" style="width:150px;">永久</option>
					</select>
				</td>
			</tr>
		  
		  <tr class="tr">
		    <td align="right" >&nbsp;</td>
		    <td ><input type="button" onclick="submitForm()" name="Submit" class="lostfocus" onFocus='this.className="getfocus";' onMouseOver='this.className="getfocus";' onBlur='this.className="lostfocus";' onMouseOut='this.className="lostfocus";'
			value="更新">
			<input type="button" value="返回" onclick="history.back();" />
		  </tr>
		</form>
	</table>
</div>
<script type="text/javascript">

function submitForm(){
	if ($('#equipment_id').val() == ''){
		alert('请输入盒子id！');
		return;
	}
	if ($('#code').val() == ''){
		alert('请输入盒子编码！');
		return;
	}	
	$('#myform').submit();
}


</script>

