<{if $tips eq ''}>
<{else}>
<div class="alert alert-danger" role="alert"><{$tips}></div>
<{/if}>
<div class="panel panel-default">
	<div class="panel-heading">批量新增设备【建议不要超过500个ID】</div>
	<table class="table">
		<form action="/equipment/add_save_batch" id="myform" name="myform" method="post" >
		  <tr class="tr">
		    <td width="22%" align="right" > 盒子方设备ID：</td>
		    <td width="75%" >
				<textarea name="equipment_ids" id="equipment_ids"  rows="20" cols="100" placeholder="盒子ID，如68805328909,68805328903,00D051AD002D 使用逗号分隔，建议不要超过500个ID"></textarea>
			</td>
		  </tr>
			<tr class="tr">
				<td width="22%" align="right" > 盒子编码：</td>
				<td width="75%" >默认与设备id一致，装机时候管理员修改</td>
			</tr>

		  <tr class="tr">
		    <td width="22%" align="right" > 盒子类型：</td>
		    <td width="75%" >
		    	<select class="form-control" name="type" id="type"  style="width:150px;">
					<option value="rfid-1">rfid-1[蚂蚁盒子RFID]</option>
					<option value="rfid-2">rfid-2[自己生产RFID]</option>
                    <option value="rfid-3">rfid-3[数字RFID]</option>
                    <option value="rfid-4">rfid-4[无膜RFID]</option>
                    <option value="rfid-5">rfid-5[无膜RFID-数烨]</option>
					<option value="rfid-6">rfid-6[数字RFID-数烨]</option>
					<option value="scan-1">scan-1[扫码]</option>
					<option value="vision-1">vision-1[视觉]</option>
					<option value="vision-2">vision-2[视觉-数烨]</option>
                    <option value="coffee-1">coffee-1[咖啡设备-沙丁鱼]</option>
				 </select>
		    </td>
		  </tr>

			<tr class="tr">
				<td width="22%" align="right" > 所属代理商：</td>
				<td width="75%" >
					<select class="form-control" name="platform_id" id="platform_id"  style="width:150px;">
						<{foreach $platform_list as $val}>
							<option value="<{$val.id}>" style="width:150px;"><{$val.name}></option>
						<{/foreach}>
					</select>
				</td>
			</tr>
			<!--<tr class="tr">
				<td width="22%" align="right" >硬件维保期限：</td>
				<td width="75%" >
					<select class="form-control" name="platform_id" id="platform_id"  style="width:150px;">
						<option value="1" style="width:150px;">一年</option>
						<option value="2" style="width:150px;">两年</option>
						<option value="3" style="width:150px;">三年</option>
						<option value="0" style="width:150px;">永久</option>
					</select>
				</td>
			</tr>
			<tr class="tr">
				<td width="22%" align="right" > 软件服务周期：</td>
				<td width="75%" >
					<select class="form-control" name="platform_id" id="platform_id"  style="width:150px;">
						<option value="1" style="width:150px;">一年</option>
						<option value="2" style="width:150px;">两年</option>
						<option value="3" style="width:150px;">三年</option>
						<option value="0" style="width:150px;">永久</option>
					</select>
				</td>
			</tr>-->
		  
		  <tr class="tr">
		    <td align="right" >&nbsp;</td>
		    <td ><input type="button" onclick="submitForm()" name="Submit" class="lostfocus" onFocus='this.className="getfocus";' onMouseOver='this.className="getfocus";' onBlur='this.className="lostfocus";' onMouseOut='this.className="lostfocus";'
			value="更新">
			<input type="button" value="返回" onclick="history.back();" />
		  </tr>
		</form>
	</table>
</div>
<script type="text/javascript">

function submitForm(){
	if ($('#equipment_ids').val() == ''){
		alert('请输入盒子id！');
		return;
	}
	$('#myform').submit();
}
</script>

